.header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #555;
}

.logo {
    font-size: 20px;
    font-weight: 400;
    color: #616b75;
    padding: 20px;
}

.search-box {
    position: relative;
    width: 70%;
    margin: 0 20px;
    display: flex;
    justify-content: flex-end;
}

.search-box input {
    border: none;
    outline: none;
    padding: 5px;
    width: 80%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: pink;
    color: #616b75;
    
}

.search-box button {
    border: none;
    /* border-radius: 5px; */
    padding: 5px 15px;
    background-color: #f8fcff;
    background-color: rgb(226, 91, 136);
    cursor: pointer;
    color: #616b75;
}



/* .search-box .auto-comlete {
    position: absolute;
    top: 25px;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
} */

/* .sugg {
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    padding: 2px;
}

.sugg:hover {
    background-color: #555;
}

.antd {
    min-width: 260px;
} */

/* .select {
    background-color: white;
    border: none;
    border-left: 1px solid #555;
    outline: none;
    cursor: pointer;

}

.select option {
    background-color: white;
    cursor: pointer ;
    padding: 5px;
    border-bottom: 1px solid #555;
    background-color: pink;
} */

